extends layout

block content
	header
		img(src='/images/favicon.png')
		input(type='text', placeholder='Buscar', list='lFac')
		datalist#lFac
	main
		#map
	script(type='text/javascript', src='/javascripts/main.js')
	